@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Nanum Square';
	font-style: normal;
	font-weight: 400;
	src: url('./assets/fonts/NanumSquareR.ttf') format('truetype');
}

@font-face {
	font-family: 'Nanum Square';
	font-style: normal;
	font-weight: 700;
	src: url('./assets/fonts/NanumSquareB.ttf') format('truetype');
}

@font-face {
	font-family: 'Nanum Square';
	font-style: normal;
	font-weight: 800;
	src: url('./assets/fonts/NanumSquareEB.ttf') format('truetype');
}

@font-face {
	font-family: 'Nanum Square';
	font-style: normal;
	font-weight: 300;
	src: url('./assets/fonts/NanumSquareL.ttf') format('truetype');
}

body {
	background-color: #488af9;
	min-height: 100vh;
	margin: 0;
	display: flex;
	justify-content: center;
}

button {
	cursor: pointer;
}

@media (min-width: 600px) {
	#root {
		width: 360px;
	}
}

@media (max-width: 600px) {
	#root {
		width: 100vw;
	}
}
